body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

.jhakanaka-highlight{
    color: rgb(76,219,45);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 116%;
    position: relative;
    top: -5px;
    right: -3px;
}
